.card-hover:hover{
    background-color:white;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.form-grey .ladi-element .ladi-form-item-container .ladi-form-item-background{
    background-color: unset!important;
}
.form-grey .ladi-element .ladi-form-item-container{
    border: 1px solid #D2D3DE!important;
    border-radius: 5px!important;
}

.background-main{
    background-color:#14467C!important;   
}

.ladi-button{
    cursor:pointer!important;
}

.partners-group .ladi-image-background{
    filter: grayscale(100%);
}
.partners-group .ladi-image-background:hover{
    filter: unset;
}
/*git push origin master*/
/*error: src refspec master matches more than one*/
